
  /* Background Color */
  $toastify-bg-color-light: #fff;
  $toastify-bg-color-dark: #121212;
  $toastify-bg-color-success: #2ecc71;
  $toastify-bg-color-error: #e74c3c;
  $toastify-bg-color-warning: #f1c40f;
  $toastify-bg-color-info: #3498db;

  /* Text Color */
  $toastify-text-color-dark: #fff;
  $toastify-text-color-light: #121212;
  $toastify-text-color-success: #2ecc71;
  $toastify-text-color-error: #e74c3c;
  $toastify-text-color-warning: #f1c40f;
  $toastify-text-color-info: #3498db;